<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADMIN</h1>
    <form class="admin" action="/loginAdmin" method="post">
        <label for="usernameAdmin"></label>
        <input name="usernameAdmin" placeholder="username">
        <label for="passwordAdmin"></label>
        <input name="passwordAdmin" placeholder="password">
        <input type="submit" value="LOGIN">

    </form>
    <h1>===============================================================</h1>
    <h1>USER</h1>
    <form class="user" action="/loginUser" method="post">
        <label for="usernameUser"></label>
        <input name="usernameUser" placeholder="username">
        <label for="passwordUser"></label>
        <input name="passwordUser" placeholder="password">
        <input type="submit" value="LOGIN">

    </form>
    
</body>
</html>